<div class="map-container" id="map"></div>

<div class="controls" [class.open]="openStyleSettings">
  <label>
    Water:
    <input type="color" [(ngModel)]="layerColors.water" (change)="updateLayerColor('water', 'fill-color', layerColors.water)" />
  </label>
  <label>
    Highway Roads:
    <input type="color" [(ngModel)]="layerColors.roads_highway" (change)="updateLayerColor('roads_highway', 'line-color', layerColors.roads_highway)" />
  </label>
  <label>
    Major Roads:
    <input type="color" [(ngModel)]="layerColors.roads_major" (change)="updateLayerColor('roads_major', 'line-color', layerColors.roads_major)" />
  </label>
  <label>
    Minor Roads:
    <input type="color" [(ngModel)]="layerColors.roads_minor" (change)="updateLayerColor('roads_minor', 'line-color', layerColors.roads_minor)" />
  </label>
  <label>
    Forest:
    <input type="color" [(ngModel)]="layerColors.landuse_park" (change)="updateLayerColor('landuse_park', 'fill-color', layerColors.landuse_park)" />
  </label>
  <label>
    POI Labels:
    <input type="color" [(ngModel)]="layerColors.pois" (change)="updateLayerColor('pois', 'text-color', layerColors.pois)" />
  </label>
  <label>
    Buildings:
    <input type="color" [(ngModel)]="layerColors.buildings" (change)="updateLayerColor('buildings', 'fill-color', layerColors.buildings)" />
  </label>
  <label>
    Earth:
    <input type="color" [(ngModel)]="layerColors.earth" (change)="updateLayerColor('earth', 'fill-color', layerColors.earth)" />
  </label>
  <label>
    Region text:
    <input type="color" [(ngModel)]="layerColors.places_locality" (change)="updateLayerColor('places_locality', 'text-color', layerColors.places_locality)" />
  </label>
  <div style="margin-top: 1rem;">
    <button (click)="resetStyles()">Reset</button>
    <button (click)="saveStyles()">Download JSON</button>
  </div>
  <div class="toggle">
    <span (click)="toggleMapStyle()" class="material-symbols-outlined" translate="no">settings</span>
  </div>
</div>