<div class="container--top">
    <div class="main-search box">
        <h1>Alles om je te oriënteren</h1>
        <p>Ontdek welke job bij je past en wat je mogelijkheden zijn op de arbeidsmarkt.</p>
    </div>
  </div>
  <div class="container--bottom">
    <div class="domains box">
        <h2>Opleidingen per jobdomein</h2>
        <ul class="links">
            <li>
        <a routerLink="/jobs/vind-een-job">Aankoop</a>
      </li>
            <li>
        <a routerLink="/jobs/vind-een-job">Administratie</a>
      </li>
            <li>
        <a routerLink="/jobs/vind-een-job">Bouw</a>
      </li>
            <li>
        <a routerLink="/jobs/vind-een-job">Communicatie</a>
      </li>
            <li>
        <a routerLink="/jobs/vind-een-job">Creatief</a>
      </li>
            <li>
        <a routerLink="/jobs/vind-een-job">Dienstverlening</a>
      </li>
            <li>
        <a routerLink="/jobs/vind-een-job">Financieel</a>
      </li>
            <li>
        <a routerLink="/jobs/vind-een-job">Gezondheid</a>
      </li>
            <li>
        <a routerLink="/jobs/vind-een-job">Horeca en toerisme</a>
      </li>
            <li>
        <a routerLink="/jobs/vind-een-job">Human resources</a>
      </li>
            <li>
        <a routerLink="/jobs/vind-een-job">ICT</a>
      </li>
            <li>
        <a routerLink="/jobs/vind-een-job">Juridisch</a>
      </li>
            <li>
        <a routerLink="/jobs/vind-een-job">Land- en tuinbouw</a>
      </li>
            <li>
        <a routerLink="/jobs/vind-een-job">Logistiek en transport</a>
      </li>
            <li>
        <a routerLink="/jobs/vind-een-job">Management</a>
      </li>
            <li>
        <a routerLink="/jobs/vind-een-job">Marketing</a>
      </li>
            <li>
        <a routerLink="/jobs/vind-een-job">Onderhoud</a>
      </li>
            <li>
        <a routerLink="/jobs/vind-een-job">Onderwijs</a>
      </li>
            <li>
        <a routerLink="/jobs/vind-een-job">Onderzoek en ontwikkeling</a>
      </li>
            <li>
        <a routerLink="/jobs/vind-een-job">Overheid</a>
      </li>
            <li>
        <a routerLink="/jobs/vind-een-job">Productie</a>
      </li>
            <li>
        <a routerLink="/jobs/vind-een-job">Techniek</a>
      </li>
            <li>
        <a routerLink="/jobs/vind-een-job">Verkoop</a>
      </li>
            <li>
        <a routerLink="/jobs/vind-een-job">Andere</a>
      </li>
        </ul>
    </div>
    <div class="cta-blocks">
      <div class="box">
          <app-cta-block *ngFor="let item of ctaBlockItems" [item]="item"></app-cta-block>
      </div>
  </div>
  </div>