<div class="opleiding-detail" *ngIf="opleiding$ | async as opleiding">
  <div class="box">
    <div class="opleiding-detail__title">
      <div class="opleiding-detail__title--left">
        <h1>{{ opleiding.name }}</h1>
        <div class="tag" *ngIf="opleiding.filterKnelpuntberoep === 'Ja'">
          Knelpuntberoep
        </div>
      </div>
      <app-bottom-nav [bottomNavConfig]="navConfig"></app-bottom-nav>
    </div>

    <div class="opleiding-detail__content">
      <div class="left">
        <div class="tldr">
          <div class="tldr__item tldr--leervorm" *ngIf="opleiding.filterLeervorm"><span class="material-symbols-outlined">groups</span> <span>{{opleiding.filterLeervorm}}</span></div>
          <div class="tldr__item tldr--duurtijd" *ngIf="opleiding.duurtijd"><span class="material-symbols-outlined">schedule</span> <span>Duurtijd: {{opleiding.duurtijd}}</span></div>
          <div class="tldr__item tldr--leerbewijs" *ngIf="opleiding.leerbewijs"><span class="material-symbols-outlined">workspace_premium</span> <span>{{opleiding.leerbewijs}}</span></div>
          <div class="tldr__item tldr--intensiteit" *ngIf="opleiding.intensiteit"><span class="material-symbols-outlined">swap_horiz</span> <span>Intensiteit: {{opleiding.intensiteit}}</span></div>
          <div class="tldr__item tldr--locaties" *ngIf="opleiding.locaties" (click)="scrollToPosition('.locaties')"><span class="material-symbols-outlined">location_on</span> <span>{{getLocationsString(opleiding.locaties)}}</span></div>
          <div class="tldr__item tldr--prijs" *ngIf="opleiding.prijs"><span class="material-symbols-outlined">euro</span> <span>{{opleiding.prijs | currency:'EUR' }} voor wie werk heeft</span></div>
          <div class="tldr__item tldr--toelatingsvoorwaarden" (click)="scrollToPosition('.toelatingsvoorwaarden')"><span class="material-symbols-outlined">conditions</span> <span>Bekijk toelatingsvoorwaarden</span></div>
          <div class="tldr__item tldr--gratis" *ngIf="opleiding.filterGratis"><span class="material-symbols-outlined">credit_card_off</span> <span>{{opleiding.filterGratis}}</span></div>
        </div>
        <div class="video" *ngIf="opleiding.videoUrl">
          <img [src]="opleiding.videoUrl" alt="">
        </div>
        <div class="beschrijving" *ngIf="opleiding.beschrijving">
          <h2>Beschrijving</h2>
          <div>{{ opleiding.beschrijving }}</div>
        </div>
        <div class="wat-je-leert" *ngIf="opleiding.watJeLeert">
          <h2>Wat je leert</h2>
          <ul>
            <li *ngFor="let item of opleiding.watJeLeert">{{ item }}</li>
          </ul>
        </div>
        <div class="modules" *ngIf="opleiding.modules">
          <h2>Modules</h2>
          <table>
            <thead>
              <tr>
                <th>Modules</th>
                <th>Leervorm</th>
                <th>Intensiteit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of opleiding.modules">
                <td>{{ item.name }}</td>
                <td>{{ item.leervorm }}</td>
                <td>{{ item.intensiteit }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div
          class="toelatingsvoorwaarden"
          *ngIf="opleiding.toelatingsvoorwaarden"
        >
          <h2>Toelatingsvoorwaarden</h2>
          <ul>
            <li *ngFor="let item of opleiding.toelatingsvoorwaarden">
              {{ item }}
            </li>
          </ul>
        </div>
      </div>
      <div class="right desktop-only--flex">
        <div class="ctas">
          <button (click)="scrollToPosition('.locaties')" class="btn btn--primary">
            Kies locatie en vraag opleiding aan
          </button>
          <button
          (click)="setAsFavorite(opleiding.id)"
          class="btn"
          [class.btn--secondary]="!opleiding.saved"
          [class.btn--yellow]="opleiding.saved"
          >
          <span class="material-symbols-outlined">star</span
            ><span>Bewaar opleiding</span>
          </button>
          <button routerLink="/opleidingen/vind-een-opleiding" class="btn btn--secondary">
            Bekijk al onze opleidingen voor kapper
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="locaties" *ngIf="opleiding.locaties">
      <h2>Locaties waar je kan inschrijven</h2>
      <div class="infobox">
        <h3>Opleiding aangevraagd: wat nu?</h3>
        <ul>
          <li>Je krijgt een bevestigingsmail met meer info.</li>
          <li>We nodigen je via mail uit voor een fysiek of online gesprek en leggen uit hoe je je hierop kan voorbereiden.</li>
          <li>
            Tijdens het gesprek bekijken we of de opleiding past in je zoektocht naar werk en haalbaar is. We houden rekening met je motivatie, vaardigheden, werkervaring, kennis Nederlands en wanneer je beschikbaar bent.
            <ul>
              <li>Past de opleiding? Dan bespreken we wat de volgende stappen zijn.</li>
              <li>Past de opleiding niet? Dan bekijken we welke opleiding wel past.</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="locatie" *ngFor="let locatie of opleiding.locaties">
          <div class="top">
              <div class="left">
                  <h3 class="link">{{locatie.stad}}</h3>
                  <small><span>{{locatie.adres}}</span> | <span>Startdatum: {{locatie.startdatum}}</span> | <span>Gemiddelde wachttijd: {{locatie.wachttijd}}</span></small>
              </div>
              <div class="right">
                  <a class="bewaar"><span>Bewaar</span><span class="material-symbols-outlined">star</span></a>
                  <button class="btn btn--secondary">Contacteer opleidingsaanbieder</button>
                  <button class="btn btn--primary">Opleiding aanvragen</button>
              </div>
          </div>
          <div class="bottom">
              <div>
                  <small>Doelgroep</small>
                  <div>{{locatie.doelgroep}}</div>
              </div>
              <div>
                  <small>Leervorm</small>
                  <div>{{locatie.leervorm}}</div>
              </div>
              <div>
                  <small>Lesgever</small>
                  <div>{{locatie.lesgever}}</div>
              </div>
              <div>
                  <small>Duurtijd</small>
                  <div>{{locatie.duurtijd}}</div>
              </div>
              <div>
                  <small>Intensiteit</small>
                  <div>{{locatie.intensiteit}}</div>
              </div>
          </div>
      </div>
  </div>
  </div>
</div>
