<div class="favorite-page" *ngIf="(favorites$ | async) as favorites">
    <div class="box">
        <div class="favorite-page__top">
            <h1>Bewaarde vacatures</h1>
            <app-bottom-nav [bottomNavConfig]="navConfig"></app-bottom-nav>
        </div>
        <div *ngIf="favorites.length" class="favorites">
            <app-job-teaser *ngFor="let job of favorites" [job]="job" [routerLink]="['/jobs', 'vind-een-job', job.id]"></app-job-teaser>
        </div>
        <div *ngIf="!favorites.length" class="favorites">
            Er zijn momenteel geen bewaarde vacatures.
        </div>
    </div>
</div>