<div class="job">
    <div *ngIf="job.new" class="new">Nieuw</div>
    <h3 class="job__title">{{job.title}}</h3>
    <div class="job__company">
        <img *ngIf="job.company.logo" class="job__logo" [src]="job.company.logo" alt="{{job.title}}">
        <div class="meta">
            <div>{{job.company.name}}</div>
            <div>{{job.company.location}}</div>
        </div>
    </div>
    <div class="job__tags">
        <div *ngFor="let tag of job.tags" class="tag">{{tag}}</div>
    </div>
    <div class="job__bottom">
        <div class="job__online">Online sinds {{job.online}}</div>
        <span (click)="setAsFavorite(job.id)" [ngClass]="{'active': job.saved}" class="material-symbols-outlined star">star</span>
        <!-- <span (click)="setAsFavorite(job.id)" *ngIf="job.saved" class="material-symbols-outlined star active">stars</span> -->
    </div>
</div>