<div class="job">
    <div class="job__header">
        <h3 class="job__title">{{job.title}}</h3>
        <img class="job__logo" [src]="job.company.logo" alt="{{job.title}}">
    </div>
    <div class="job__location"><span class="material-symbols-outlined"> location_on </span> <span><span class="bold">{{job.location.office}}</span> in <span class="bold">{{job.location.city}}</span></span></div>
    <div class="job__online"><span class="material-symbols-outlined"> schedule </span> <span>Online sinds <span class="bold">{{job.online}}</span> - <span class="bold">{{job.type}}</span></span></div>
    <div class="job__summary" [innerHTML]="job.summary"></div>
</div>