:root {
    --color-primary: #1769a4;
    --color-primary-light: #2d89cc;
    --color-primary-dark: #004475;
    --color-primary-bg: #eff7fe;
    --font-size: 1.125rem;
    --font-size-small: 1rem;
    --font-family: 'Flanders';
    --line-height: 1.2;
}