.favorite-page {
    padding: 2rem 1rem 5rem;
    display: flex;
    justify-content: center;
    &__top {
        display: flex;
        align-items: center;
        gap: 2rem;
        justify-content: space-between;
        margin-bottom: 2rem;
    }
    h1 {
        margin: 0;
    }
    .favorites {
        display: flex;
        flex-flow: column;
        gap: 1.5rem;
    }
}