<div class="container--top">
    <div class="main-search box">
        <h1>Alles om een opleiding te vinden</h1>
        <form>
            <div class="top">
                <div class="field">
                    <label for="search">Functie, bedrijf of trefwoord</label>
                    <input type="text" name="search" id="search">
                </div>
                <div class="field">
                    <label for="location">Postcode, gemeente of provincie</label>
                    <input type="text" name="location" id="location">
                </div>
                <button [routerLink]="['/opleidingen', 'vind-een-opleiding']" class="submit btn--primary"><span class="material-symbols-outlined" translate="no">search</span><span>Vind een opleiding</span></button>
            </div>
        </form>
    </div>
  </div>
  <div class="container--bottom">
    <div class="domains box">
        <h2>Opleidingen per jobdomein</h2>
        <ul class="links">
            <li>
        <a routerLink="/opleidingen/vind-een-opleiding">Aankoop</a>
      </li>
            <li>
        <a routerLink="/opleidingen/vind-een-opleiding">Administratie</a>
      </li>
            <li>
        <a routerLink="/opleidingen/vind-een-opleiding">Bouw</a>
      </li>
            <li>
        <a routerLink="/opleidingen/vind-een-opleiding">Communicatie</a>
      </li>
            <li>
        <a routerLink="/opleidingen/vind-een-opleiding">Creatief</a>
      </li>
            <li>
        <a routerLink="/opleidingen/vind-een-opleiding">Dienstverlening</a>
      </li>
            <li>
        <a routerLink="/opleidingen/vind-een-opleiding">Financieel</a>
      </li>
            <li>
        <a routerLink="/opleidingen/vind-een-opleiding">Gezondheid</a>
      </li>
            <li>
        <a routerLink="/opleidingen/vind-een-opleiding">Horeca en toerisme</a>
      </li>
            <li>
        <a routerLink="/opleidingen/vind-een-opleiding">Human resources</a>
      </li>
            <li>
        <a routerLink="/opleidingen/vind-een-opleiding">ICT</a>
      </li>
            <li>
        <a routerLink="/opleidingen/vind-een-opleiding">Juridisch</a>
      </li>
            <li>
        <a routerLink="/opleidingen/vind-een-opleiding">Land- en tuinbouw</a>
      </li>
            <li>
        <a routerLink="/opleidingen/vind-een-opleiding">Logistiek en transport</a>
      </li>
            <li>
        <a routerLink="/opleidingen/vind-een-opleiding">Management</a>
      </li>
            <li>
        <a routerLink="/opleidingen/vind-een-opleiding">Marketing</a>
      </li>
            <li>
        <a routerLink="/opleidingen/vind-een-opleiding">Onderhoud</a>
      </li>
            <li>
        <a routerLink="/opleidingen/vind-een-opleiding">Onderwijs</a>
      </li>
            <li>
        <a routerLink="/opleidingen/vind-een-opleiding">Onderzoek en ontwikkeling</a>
      </li>
            <li>
        <a routerLink="/opleidingen/vind-een-opleiding">Overheid</a>
      </li>
            <li>
        <a routerLink="/opleidingen/vind-een-opleiding">Productie</a>
      </li>
            <li>
        <a routerLink="/opleidingen/vind-een-opleiding">Techniek</a>
      </li>
            <li>
        <a routerLink="/opleidingen/vind-een-opleiding">Verkoop</a>
      </li>
            <li>
        <a routerLink="/opleidingen/vind-een-opleiding">Andere</a>
      </li>
        </ul>
    </div>
    <div class="cta-blocks">
      <div class="box">
          <app-cta-block *ngFor="let item of ctaBlockItems" [item]="item"></app-cta-block>
      </div>
  </div>
  </div>