<div class="opleiding">
  <div *ngIf="opleiding.new" class="new">Nieuw</div>
  <div class="titlebox">
    <div class="left">
      <div *ngIf="opleiding.filterLeervorm === 'Workshop'" class="tag">
        Workshop
      </div>
      <h3 class="opleiding__title">{{ opleiding.name }}</h3>
    </div>
    <div class="right">
        <span
          (click)="setAsFavorite(opleiding.id)"
          [ngClass]="{ 'active fill': opleiding.saved }"
          class="material-symbols-outlined star"
          >star</span
        >
    </div>
  </div>
  <div class="contentbox">
    <div class="organisator">{{opleiding.filterOrganisator}} - {{opleiding.filterLeervorm}}</div>
  </div>
  <div class="opleiding__tags">
    <div class="tag">{{ opleiding.filterGratis === 'Gratis opleidingen voor iedereen' ? 'Gratis voor iedereen' : opleiding.filterGratis === 'Betalend' ? 'Betalend' : 'Gratis voor wie niet werkt of een uitkering onvangt' }}</div>
    <div *ngIf="opleiding.filterKnelpuntberoep === 'Ja'" class="tag">Knelpuntberoep</div>
  </div>
</div>
