<div class="opleiding__container">
  <div class="opleiding" [routerLink]="['/opleidingen', 'vind-een-opleiding', opleiding.id]">
    <div *ngIf="opleiding.new" class="new">Nieuw</div>
    <div class="titlebox">
      <div class="left">
        <div
          *ngIf="opleiding.filterLeervorm === 'Workshop'"
          class="tag tag--warning"
        >
          Workshop
        </div>
        <div
          *ngIf="opleiding.filterLeervorm === 'E-cursus'"
          class="tag tag--error"
        >
          Online cursus
        </div>
        <h3 class="opleiding__title">{{ opleiding.name }}</h3>
      </div>
      <div class="right"></div>
    </div>
    <div class="contentbox">
      <div class="locations" *ngIf="opleiding.locaties">{{getLocationsString(opleiding.locaties)}}</div>
      <div class="summary" *ngIf="opleiding.beschrijving">{{opleiding.beschrijving.substring(0, 200)}}...</div>
    </div>
    <div class="footerbox">
      <div class="opleiding__tags">
        <div class="tag">
          {{
            opleiding.filterGratis === "Gratis opleidingen voor wie werkt"
              ? "Gratis voor wie werkt"
              : opleiding.filterGratis === "Betalend"
              ? "Betalend"
              : opleiding.filterGratis === "Gratis voor iedereen"
              ? "Gratis voor iedereen"
              : "Gratis voor wie geen werk heeft of een uitkering onvangt"
          }}
        </div>
        <div *ngIf="opleiding.filterKnelpuntberoep === 'Ja'" class="tag">
          Knelpuntberoep
        </div>
      </div>
      <div class="duurtijd" *ngIf="opleiding.duurtijd">Duurtijd: <span>{{opleiding.duurtijd}}</span></div>
    </div>
  </div>
  <span
    (click)="setAsFavoriteOpleiding(opleiding.id)"
    [class.active]="opleiding.saved"
    class="material-symbols-outlined star"
    >star</span
  >
</div>
