<div class="login-page">
    <div class="box">
        <h1>Login of maak een account aan</h1>
        <div class="login-page__login">
            <h2>Log snel in met ItsMe of eID</h2>
            <button class="btn btn--orange">
                <span class="material-symbols-outlined" translate="no">
                    familiar_face_and_zone
                </span>
                <span>ItsMe</span>
            </button>
            <hr>
            <h2>Of log in met wachtwoord en sms-code</h2>
            <form>
                <div class="top">
                    <div class="field">
                        <label for="username">E-mail of rijksregisternummer</label>
                        <input type="text" name="username" id="username">
                    </div>
                    <div class="field">
                        <label for="password">Wachtwoord</label>
                        <input type="password" name="password" id="password">
                    </div>
                    <button class="btn btn--primary">Log in</button>
                </div>
            </form>
        </div>
    </div>
</div>