<p>vewn-detail works!</p> 
<a routerLink="/vind-een-werknemer">Ga naar resultaten</a>

<div class="samenstelling-programma">
  <div class="samenstelling-programma__item">
    <h3 class="samenstelling-programma__item__titel">
      <!-- Titel tekst wordt hier ingevoegd -->
      Test titel 1
    </h3>
    <div class="samenstelling-programma__item__beschrijving">
      <!-- Beschrijving HTML wordt hier ingevoegd -->
      Test beschrijving 1
    </div>
  </div>
  <div class="samenstelling-programma__item">
    <h3 class="samenstelling-programma__item__titel">
      <!-- Titel tekst wordt hier ingevoegd -->
      Test titel 2
    </h3>
    <div class="samenstelling-programma__item__beschrijving">
      <!-- Beschrijving HTML wordt hier ingevoegd -->
      Test beschrijving 2
    </div>
  </div>
</div>