<div class="main-search">
    <h1>Alles om een job te vinden</h1>
    <form>
        <div class="top">
            <div class="field">
                <label for="search">Functie, bedrijf of trefwoord</label>
                <input type="text" name="search" id="search">
            </div>
            <div class="field">
                <label for="location">Postcode, gemeente of provincie</label>
                <input type="text" name="location" id="location">
            </div>
        </div>
    </form>
    <button [routerLink]="['/jobs', 'vind-een-job']" class="submit btn--primary"><span class="material-symbols-outlined">search</span><span>Vind een job</span></button>
</div>
<div class="domains">
    <h2>Jobs per jobdomein</h2>
    <ul class="links">
        <li>
    <a routerLink="/jobs/vind-een-job">Aankoop</a>
  </li>
        <li>
    <a routerLink="/jobs/vind-een-job">Administratie</a>
  </li>
        <li>
    <a routerLink="/jobs/vind-een-job">Bouw</a>
  </li>
        <li>
    <a routerLink="/jobs/vind-een-job">Communicatie</a>
  </li>
        <li>
    <a routerLink="/jobs/vind-een-job">Creatief</a>
  </li>
        <li>
    <a routerLink="/jobs/vind-een-job">Dienstverlening</a>
  </li>
        <li>
    <a routerLink="/jobs/vind-een-job">Financieel</a>
  </li>
        <li>
    <a routerLink="/jobs/vind-een-job">Gezondheid</a>
  </li>
        <li>
    <a routerLink="/jobs/vind-een-job">Horeca en toerisme</a>
  </li>
        <li>
    <a routerLink="/jobs/vind-een-job">Human resources</a>
  </li>
        <li>
    <a routerLink="/jobs/vind-een-job">ICT</a>
  </li>
        <li>
    <a routerLink="/jobs/vind-een-job">Juridisch</a>
  </li>
        <li>
    <a routerLink="/jobs/vind-een-job">Land- en tuinbouw</a>
  </li>
        <li>
    <a routerLink="/jobs/vind-een-job">Logistiek en transport</a>
  </li>
        <li>
    <a routerLink="/jobs/vind-een-job">Management</a>
  </li>
        <li>
    <a routerLink="/jobs/vind-een-job">Marketing</a>
  </li>
        <li>
    <a routerLink="/jobs/vind-een-job">Onderhoud</a>
  </li>
        <li>
    <a routerLink="/jobs/vind-een-job">Onderwijs</a>
  </li>
        <li>
    <a routerLink="/jobs/vind-een-job">Onderzoek en ontwikkeling</a>
  </li>
        <li>
    <a routerLink="/jobs/vind-een-job">Overheid</a>
  </li>
        <li>
    <a routerLink="/jobs/vind-een-job">Productie</a>
  </li>
        <li>
    <a routerLink="/jobs/vind-een-job">Techniek</a>
  </li>
        <li>
    <a routerLink="/jobs/vind-een-job">Verkoop</a>
  </li>
        <li>
    <a routerLink="/jobs/vind-een-job">Andere</a>
  </li>
    </ul>
</div>