<div class="main-search">
    <h1>Alles om een job te vinden</h1>
    <form>
        <div class="top">
            <div class="field">
                <label for="search">Functie, bedrijf of trefwoord</label>
                <input type="text" name="search" id="search">
            </div>
            <div class="field">
                <label for="location">Postcode, gemeente of provincie</label>
                <input type="text" name="location" id="location">
            </div>
        </div>
    </form>
    <button [routerLink]="['/vind-een-job', 'zoekresultaten']" class="submit btn--primary"><span class="material-symbols-outlined">search</span><span>Vind een job</span></button>
</div>
<div class="domains">
    <h2>Jobs per jobdomein</h2>
    <ul class="links">
        <li>
    <a routerLink="/vind-een-job/zoekresultaten">Aankoop</a>
  </li>
        <li>
    <a routerLink="/vind-een-job/zoekresultaten">Administratie</a>
  </li>
        <li>
    <a routerLink="/vind-een-job/zoekresultaten">Bouw</a>
  </li>
        <li>
    <a routerLink="/vind-een-job/zoekresultaten">Communicatie</a>
  </li>
        <li>
    <a routerLink="/vind-een-job/zoekresultaten">Creatief</a>
  </li>
        <li>
    <a routerLink="/vind-een-job/zoekresultaten">Dienstverlening</a>
  </li>
        <li>
    <a routerLink="/vind-een-job/zoekresultaten">Financieel</a>
  </li>
        <li>
    <a routerLink="/vind-een-job/zoekresultaten">Gezondheid</a>
  </li>
        <li>
    <a routerLink="/vind-een-job/zoekresultaten">Horeca en toerisme</a>
  </li>
        <li>
    <a routerLink="/vind-een-job/zoekresultaten">Human resources</a>
  </li>
        <li>
    <a routerLink="/vind-een-job/zoekresultaten">ICT</a>
  </li>
        <li>
    <a routerLink="/vind-een-job/zoekresultaten">Juridisch</a>
  </li>
        <li>
    <a routerLink="/vind-een-job/zoekresultaten">Land- en tuinbouw</a>
  </li>
        <li>
    <a routerLink="/vind-een-job/zoekresultaten">Logistiek en transport</a>
  </li>
        <li>
    <a routerLink="/vind-een-job/zoekresultaten">Management</a>
  </li>
        <li>
    <a routerLink="/vind-een-job/zoekresultaten">Marketing</a>
  </li>
        <li>
    <a routerLink="/vind-een-job/zoekresultaten">Onderhoud</a>
  </li>
        <li>
    <a routerLink="/vind-een-job/zoekresultaten">Onderwijs</a>
  </li>
        <li>
    <a routerLink="/vind-een-job/zoekresultaten">Onderzoek en ontwikkeling</a>
  </li>
        <li>
    <a routerLink="/vind-een-job/zoekresultaten">Overheid</a>
  </li>
        <li>
    <a routerLink="/vind-een-job/zoekresultaten">Productie</a>
  </li>
        <li>
    <a routerLink="/vind-een-job/zoekresultaten">Techniek</a>
  </li>
        <li>
    <a routerLink="/vind-een-job/zoekresultaten">Verkoop</a>
  </li>
        <li>
    <a routerLink="/vind-een-job/zoekresultaten">Andere</a>
  </li>
    </ul>
</div>