<nav class="tabbar">
  <ul>
    <li class="tabbar-item active">
        <span translate="no" class="material-symbols-outlined"> search </span><span>Jobs</span>
    </li>
    <li class="tabbar-item">
        <span translate="no" class="material-symbols-outlined"> task </span><span>Jobsuggesties</span>
    </li>
    <li class="tabbar-item">
        <span translate="no" class="material-symbols-outlined"> notifications </span><span>Job alert</span>
    </li>
    <li class="tabbar-item">
        <span translate="no" class="material-symbols-outlined"> star </span><span>Bewaard</span>
    </li>
  </ul>
</nav>