<div class="header">
    <div class="header__top">
        <a href="/"><img src="/assets/vdab-logo-white.svg" alt=""></a>
        <div class="icons">
            <span (click)="toggleSettings()" class="material-symbols-outlined">settings</span>
            <span (click)="toggleSearchForm()" class="material-symbols-outlined">search</span>
            <!-- <span [routerLink]="['/favorites']" class="material-symbols-outlined">star</span> -->
            <!-- <span [routerLink]="['/login']" class="material-symbols-outlined">account_circle</span> -->
            <span (click)="toggleMenu()" class="material-symbols-outlined">menu</span>
        </div>
        <div *ngIf="showMenu" class="menu-dropdown">
            <ul>
                <li>
                    <a (click)="toggleMenu()" [routerLink]="['/vind-een-opleiding']">
                        <span class="material-symbols-outlined">workspace_premium</span>
                        <span>Vind een opleiding</span>
                    </a>
                </li>
                <li>
                    <a (click)="toggleMenu()" [routerLink]="['/studieboom']">
                        <span class="material-symbols-outlined">workspace_premium</span>
                        <span>Studieboom</span>
                    </a>
                </li>
            </ul>

        </div>
        <div *ngIf="showSettings" class="settings-dropdown">
            <form [formGroup]="fontForm" class="settings-form">
                <h4>Font family</h4>
                <label>
                    <input type="radio" formControlName="optionfontfamily" value="option1" (change)="onOptionChangeFontForm('')" />
                    Flanders
                  </label>
                  <label>
                    <input type="radio" formControlName="optionfontfamily" value="option2" (change)="onOptionChangeFontForm('font-inter')" />
                    Inter
                  </label>
                  <label>
                    <input type="radio" formControlName="optionfontfamily" value="option3" (change)="onOptionChangeFontForm('font-opensans')" />
                    Open Sans
                  </label>
                  <label>
                    <input type="radio" formControlName="optionfontfamily" value="option4" (change)="onOptionChangeFontForm('font-comicsans')" />
                    Comic Sans
                  </label>
                <h4>Font size</h4>
                <label>
                    <input type="radio" formControlName="optionfontsize" value="option1" (change)="onOptionChangeFontSize('')" />
                    Normal (18px)
                  </label>
                  <label>
                    <input type="radio" formControlName="optionfontsize" value="option2" (change)="onOptionChangeFontSize('smaller-font')" />
                    Smaller (16px)
                  </label>
            </form>
        </div>
    </div>
    <div class="header__bottom">
        <app-breadcrumb></app-breadcrumb>
    </div>
    <div *ngIf="showSearchForm" (click)="toggleSearchForm()" class="fade"></div>
    <div class="search-form" [class.open]="showSearchForm">
        <form [formGroup]="form">
            <div class="field" [class.open]="showSubMenu">
                <input type="text" formControlName="text" id="search" placeholder="Zoek op vdab.be">
                <span *ngIf="!showCloseBtn" class="material-symbols-outlined">search</span>
                <span *ngIf="showCloseBtn" (click)="resetField()" class="material-symbols-outlined">close</span>
            </div>
        </form>
        <div class="submenu" [class.open]="showSubMenu">
            <a class="active" href="/vind-een-job/zoekresultaten"><span class="material-symbols-outlined">search</span> <span class="content"><span>{{searchTerm}}</span> <span>in infopagina's</span></span></a>
            <a href="/vind-een-job/zoekresultaten"><span class="material-symbols-outlined">search</span> <span class="content"><span>{{searchTerm}}</span> <span>in vacatures</span></span></a>
            <a href="/vind-een-job/zoekresultaten"><span class="material-symbols-outlined">search</span> <span class="content"><span>{{searchTerm}}</span> <span>in opleidingen</span></span></a>
        </div>
    </div>
</div>