.header {
    display: flex;
    flex-flow: column;
    gap: 0;
    &__top {
        background-color: #2d89cc;
        padding: .75rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
            width: 3rem;
            display: block;
        }
        .icons {
            display: flex;
            align-items: center;
            gap: 0;
            position: absolute;
            top: 0;
            right: .5rem;
            span {
                color: #fff;
                padding: .75rem;
            }
        }
    }
    &__bottom {
        background-color: #C4DEF0;
        padding: .5rem 1rem;
        .breadcrumbs {
            display: flex;
            align-items: center;
            gap: .5rem;
            font-size: 1rem;
            span {
                display: block;
            }
        }
    }
    a {
        color: #2d89cc;
        text-decoration: none;
    }
}