<div class="header">
    <div class="header__top">
        <a href="/"><img src="/assets/vdab-logo-white.svg" alt=""></a>
        <div class="icons">
            <span [routerLink]="['/']" class="material-symbols-outlined">search</span>
            <!-- <span [routerLink]="['/favorites']" class="material-symbols-outlined">star</span> -->
            <span [routerLink]="['/login']" class="material-symbols-outlined">account_circle</span>
            <span class="material-symbols-outlined">menu</span>
        </div>
    </div>
    <div class="header__bottom">
        <div class="breadcrumbs">
            <a href="/"><span class="material-symbols-outlined"> home </span></a>
            <span>></span>
            <a href="/">Jobs</a>
            <span>></span>
            <!-- <a href="/vind-een-job">Vind een job</a> -->
            <span href="/">Vind een job</span>
        </div>
    </div>
</div>