<div class="navigation">
    <ul class="block-1">
        <li>
            <h3 (click)="closeMenu()" [routerLink]="['/jobs']" routerLinkActive="active">
                <span>Jobs</span>
                <span class="material-symbols-outlined" translate="no">chevron_right</span>
            </h3>
        </li>
        <li>
            <a (click)="closeMenu()" routerLink="/jobs/vind-een-job" routerLinkActive="active">
                <span class="material-symbols-outlined" translate="no">work</span>
                <span>Vind een job</span>
            </a>
        </li>
        <li>
            <a (click)="closeMenu()" [routerLink]="['/mapgl']" routerLinkActive="active">
                <span class="material-symbols-outlined" translate="no">map</span>
                <span>Vacatures op kaart</span>
            </a>
        </li>
        <!-- <li>
                        <a (click)="closeMenu()" [routerLink]="['/opleidingen', 'vind-een-opleiding']"
                            routerLinkActive="active">
                            <span class="material-symbols-outlined" translate="no">workspace_premium</span>
                            <span>Vind een opleiding</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="closeMenu()" [routerLink]="['/studieboom']" routerLinkActive="active">
                            <span class="material-symbols-outlined" translate="no">flowchart</span>
                            <span>Studieboom</span>
                        </a>
                    </li> -->
    </ul>
    <ul class="block-2">
        <li>
            <h3 (click)="closeMenu()" [routerLink]="['/opleidingen']" routerLinkActive="active">
                <span>Opleidingen</span>
                <span class="material-symbols-outlined" translate="no">chevron_right</span>
            </h3>
        </li>
        <li>
            <a (click)="closeMenu()" [routerLink]="['/opleidingen', 'vind-een-opleiding']" routerLinkActive="active">
                <span class="material-symbols-outlined" translate="no">workspace_premium</span>
                <span>Vind een opleiding</span>
            </a>
        </li>
        <!-- <li>
                        <a (click)="closeMenu()" [routerLink]="['/studieboom']" routerLinkActive="active">
                            <span class="material-symbols-outlined" translate="no">flowchart</span>
                            <span>Studieboom</span>
                        </a>
                    </li> -->
    </ul>
    <ul class="block-3">
        <li>
            <h3 (click)="closeMenu()" [routerLink]="['/jobs']" routerLinkActive="active">
                <span>Oriënteren</span>
                <span class="material-symbols-outlined" translate="no">chevron_right</span>
            </h3>
        </li>
        <li>
            <a (click)="closeMenu()" [routerLink]="['/jobs']" routerLinkActive="active">
                <span class="material-symbols-outlined" translate="no">assured_workload</span>
                <span>Jobs</span>
            </a>
        </li>
        <li>
            <a (click)="closeMenu()" routerLink="/jobs/vind-een-job" routerLinkActive="active">
                <span class="material-symbols-outlined" translate="no">work</span>
                <span>Vind een job</span>
            </a>
        </li>
        <li>
            <a (click)="closeMenu()" [routerLink]="['/opleidingen', 'vind-een-opleiding']" routerLinkActive="active">
                <span class="material-symbols-outlined" translate="no">workspace_premium</span>
                <span>Vind een opleiding</span>
            </a>
        </li>
        <li>
            <a (click)="closeMenu()" [routerLink]="['/studieboom']" routerLinkActive="active">
                <span class="material-symbols-outlined" translate="no">flowchart</span>
                <span>Studieboom</span>
            </a>
        </li>
    </ul>
    <ul class="block-4">
        <li>
            <h3 (click)="closeMenu()" [routerLink]="['/jobs']" routerLinkActive="active">
                <span>Prototypes</span>
                <span class="material-symbols-outlined" translate="no">chevron_right</span>
            </h3>
        </li>
        <!-- <li>
                        <a (click)="closeMenu()" [routerLink]="['/jobs']" routerLinkActive="active">
                            <span class="material-symbols-outlined" translate="no">assured_workload</span>
                            <span>Jobs</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="closeMenu()" routerLink="/jobs/vind-een-job" routerLinkActive="active">
                            <span class="material-symbols-outlined" translate="no">work</span>
                            <span>Vind een job</span>
                        </a>
                    </li> -->
        <!-- <li>
                        <a (click)="closeMenu()" [routerLink]="['/map']" routerLinkActive="active">
                            <span class="material-symbols-outlined" translate="no">map</span>
                            <span>Map</span>
                        </a>
                    </li> -->
        <li>
            <a (click)="closeMenu()" [routerLink]="['/tabbar']" routerLinkActive="active">
                <span class="material-symbols-outlined" translate="no">animation</span>
                <span>Tabbar animatie</span>
            </a>
        </li>
        <li>
            <a (click)="closeMenu()" [routerLink]="['/mapgl']" routerLinkActive="active">
                <span class="material-symbols-outlined" translate="no">map</span>
                <span>Vacatures op kaart</span>
            </a>
        </li>
        <li>
            <a (click)="closeMenu()" [routerLink]="['/studieboom']" routerLinkActive="active">
                <span class="material-symbols-outlined" translate="no">flowchart</span>
                <span>Studieboom</span>
            </a>
        </li>
        <li>
            <a (click)="closeMenu()" [routerLink]="['/content']" routerLinkActive="active">
                <span class="material-symbols-outlined" translate="no">flowchart</span>
                <span>Content pagina</span>
            </a>
        </li>
    </ul>
</div>