<div class="footer">
  <div class="box">
    <div class="footer__top">
      <a href="/"><img src="/assets/vdab-logo-white.svg" alt=""></a>
      <app-breadcrumb></app-breadcrumb>
    </div>
    <div class="footer__bottom">
      <a>Jobs</a>
      <a>Opleidingen</a>
      <a>Oriënteren</a>
      <a>Over VDAB</a>
      <a>Werken bij VDAB</a>
      <a>Getuigenissen</a>
      <a>Contact</a>
      <a>Evenementen</a>
      <a>Cijfers</a>
      <a>Pers</a>
      <a>Nieuwsbrief</a>
    </div>
  </div>
</div>