.footer {
    background-color: #004475;
    color: #fff;
    padding: 4rem 0;
    margin-top: 4rem;
    .box {
        max-width: 1440px;
        margin: 4rem auto;
    }
    &__top {
        display: flex;
        align-items: center;
        gap: 4rem;
    }
    &__bottom {
        margin-top: 4rem;
        display: flex;
        flex-flow: row wrap;
        gap: 1rem 0;
        a {
            width: 25%;
            color: #fff;
            @media screen and (max-width: 990px) {
                width: 50%;
            }
        }
    }
}