<div class="footernav">
  <div class="footernav__item" routerLink="/vind-een-job" routerLinkActive="active">
    <span class="material-symbols-outlined"> search </span>
    <span>Vind een job</span>
  </div>
  <div class="footernav__item">
    <span class="material-symbols-outlined"> task </span>
    <span>Matching</span>
  </div>
  <div class="footernav__item">
    <span class="material-symbols-outlined"> notifications </span>
    <span>Job alert</span>
  </div>
  <div class="footernav__item">
    <span class="material-symbols-outlined"> sell </span>
    <span>Bewaard</span>
  </div>
</div>
