.content-page {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    margin: auto;
}

.toggle-reset-btn {
    position: fixed;
    left: 0;
    top: 50%;
    padding: .5rem;
    background-color: var(--color-primary);
    color: #fff;
    cursor: pointer;
}