<div class="opleiding-list">
  <h1>Vind een opleiding</h1>
  <div class="opleiding-list__content">
    <div class="opleiding-list__filters">
      <form [formGroup]="filterForm">
          <div formGroupName="filterCategorie" class="dropdown">
            <div class="dropdown__header" (click)="toggleFiltersCategorie()" [class.open]="showFiltersCategorie"><h3>Categorie</h3><span class="material-symbols-outlined">chevron_right</span></div>
            <div class="dropdown__body" *ngIf="showFiltersCategorie">
              <div *ngFor="let category of filterCategorie; let i = index">
                <label class="o-form__label c-checkbox__label" [for]="'veo_categorie_' + i">
                  <input
                    type="checkbox"
                    class="c-checkbox__input"
                    [id]="'veo_categorie_' + i"
                    [formControlName]="category"
                  />
                  <div>
                    {{ category }}
                    <span class="c-filter__options-count">(85133)</span>
                  </div>
                </label>
              </div>
            </div>
          </div>
          <div formGroupName="filterGratis" class="dropdown">
            <div class="dropdown__header" (click)="toggleFiltersGratis()" [class.open]="showFiltersGratis"><h3>Gratis</h3><span class="material-symbols-outlined">chevron_right</span></div>
            <div class="dropdown__body" *ngIf="showFiltersGratis">
              <div *ngFor="let category of filterGratis; let i = index">
                <label class="o-form__label c-checkbox__label" [for]="'veo_gratis_' + i">
                  <input
                    type="checkbox"
                    class="c-checkbox__input"
                    [id]="'veo_gratis_' + i"
                    [formControlName]="category"
                  />
                  <div>
                    {{ category }}
                    <span class="c-filter__options-count">(85133)</span>
                  </div>
                </label>
              </div>
            </div>
          </div>
          <div formGroupName="filterStartdatum" class="dropdown">
            <div class="dropdown__header" (click)="toggleFiltersStartdatum()" [class.open]="showFiltersStartdatum"><h3>Startdatum</h3><span class="material-symbols-outlined">chevron_right</span></div>
            <div class="dropdown__body" *ngIf="showFiltersStartdatum">
              <div *ngFor="let category of filterStartdatum; let i = index">
                <label class="o-form__label c-checkbox__label" [for]="'veo_startdatum_' + i">
                  <input
                    type="checkbox"
                    class="c-checkbox__input"
                    [id]="'veo_startdatum_' + i"
                    [formControlName]="category"
                  />
                  <div>
                    {{ category }}
                    <span class="c-filter__options-count">(85133)</span>
                  </div>
                </label>
              </div>
            </div>
          </div>
          <div formGroupName="filterLesmoment" class="dropdown">
            <div class="dropdown__header" (click)="toggleFiltersLesmoment()" [class.open]="showFiltersLesmoment"><h3>Lesmoment</h3><span class="material-symbols-outlined">chevron_right</span></div>
            <div class="dropdown__body" *ngIf="showFiltersLesmoment">
              <div *ngFor="let category of filterLesmoment; let i = index">
                <label class="o-form__label c-checkbox__label" [for]="'veo_Lesmoment_' + i">
                  <input
                    type="checkbox"
                    class="c-checkbox__input"
                    [id]="'veo_Lesmoment_' + i"
                    [formControlName]="category"
                  />
                  <div>
                    {{ category }}
                    <span class="c-filter__options-count">(85133)</span>
                  </div>
                </label>
              </div>
            </div>
          </div>
          <div formGroupName="filterLeervorm" class="dropdown">
            <div class="dropdown__header" (click)="toggleFiltersLeervorm()" [class.open]="showFiltersLeervorm"><h3>Leervorm</h3><span class="material-symbols-outlined">chevron_right</span></div>
            <div class="dropdown__body" *ngIf="showFiltersLeervorm">
              <div *ngFor="let category of filterLeervorm; let i = index">
                <label class="o-form__label c-checkbox__label" [for]="'veo_Leervorm_' + i">
                  <input
                    type="checkbox"
                    class="c-checkbox__input"
                    [id]="'veo_Leervorm_' + i"
                    [formControlName]="category"
                  />
                  <div>
                    {{ category }}
                    <span class="c-filter__options-count">(85133)</span>
                  </div>
                </label>
              </div>
            </div>
          </div>
          <div formGroupName="filterOrganisator" class="dropdown">
            <div class="dropdown__header" (click)="toggleFiltersOrganisator()" [class.open]="showFiltersOrganisator"><h3>Organisator</h3><span class="material-symbols-outlined">chevron_right</span></div>
            <div class="dropdown__body" *ngIf="showFiltersOrganisator">
              <div *ngFor="let category of filterOrganisator; let i = index">
                <label class="o-form__label c-checkbox__label" [for]="'veo_Organisator_' + i">
                  <input
                    type="checkbox"
                    class="c-checkbox__input"
                    [id]="'veo_Organisator_' + i"
                    [formControlName]="category"
                  />
                  <div>
                    {{ category }}
                    <span class="c-filter__options-count">(85133)</span>
                  </div>
                </label>
              </div>
            </div>
          </div>
          <div formGroupName="filterKnelpuntberoep" class="dropdown">
            <div class="dropdown__header" (click)="toggleFiltersKnelpuntberoep()" [class.open]="showFiltersKnelpuntberoep"><h3>Knelpuntberoep</h3><span class="material-symbols-outlined">chevron_right</span></div>
            <div class="dropdown__body" *ngIf="showFiltersKnelpuntberoep">
              <div *ngFor="let category of filterKnelpuntberoep; let i = index">
                <label class="o-form__label c-checkbox__label" [for]="'veo_Knelpuntberoep_' + i">
                  <input
                    type="checkbox"
                    class="c-checkbox__input"
                    [id]="'veo_Knelpuntberoep_' + i"
                    [formControlName]="category"
                  />
                  <div>
                    {{ category }}
                    <span class="c-filter__options-count">(85133)</span>
                  </div>
                </label>
              </div>
            </div>
          </div>
      </form>
    </div>
    <div class="opleiding-list__results">
      <div class="info">
        <div class="left">
          {{filteredItems.length}} opleidingen gevonden
        </div>
        <div class="right">
          Sorteren op: x x x
        </div>
      </div>
      <div class="results">
        <app-opleiding-teaser *ngFor="let opleiding of filteredItems" [opleiding]="opleiding"></app-opleiding-teaser>
      </div>
      <!-- <ul>
        <li *ngFor="let item of (filteredItems)">
          {{ item.name }} ({{ item.filterCategorie }})
        </li>
      </ul> -->
    </div>
  </div>
</div>
